<div ui-view>

</div>
<toaster-container>toaster-options="{'position-class': 'toast-bottom-left', 'close-button':true, 'animation-class': 'toast-bottom-left'}"</toaster-container>

  <!-- Google Maps JavaScript API -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
