
<div class="content-frame">
  
    <div class="content-frame-top">
        <div class="page-title">
            <h2 style="color:black;"><span class="fa fa-comments"></span> Profile</h2>
        </div>
    </div>

      <div class="row">

          <form name="projectForm" >

              <div class="col-md-4 col-sm-4">
                  <div flex-sm="100" flex-gt-sm="90" flex-gt-md="75" flex-gt-lg="50" class="md-whiteframe-z2" style="max-width:100%; margin:0 auto;">
                      <md-content layout-padding>
                          <div class="row">
                              <div class="col-md-8">
                                  <img class="img-thumbnail  img-responsive" ngf-alt="Profile Image" ngf-src="picFile" style="margin:0 auto" height="100" width="120" />
                              </div>

                              <div class="col-md-4">
                                  <md-button class="md-fab md-mini md-primary md-hue-2" aria-label="Profile" onclick="$('#file').click();">
                                      <i class="fa fa-image"></i>
                                      <md-tooltip>
                                          Profile Picture
                                      </md-tooltip>
                                  </md-button>
                                  <label> Upload Image</label>
                              </div>
                              <input style=" width: 0px;height: 0px;overflow: hidden;" id="file" type="file" ngf-select ng-model="picFile" name="file"
                                     accept="image/*" required
                                     ngf-model-invalid="errorFile">
                          </div>
                      </md-content>
                  </div>
              </div>

              <div class="col-md-8 col-sm-8">
                  <div flex-sm="100" flex-gt-sm="90" flex-gt-md="75" flex-gt-lg="50" class="md-whiteframe-z2" style="max-width: 100%">

                      <!-- Customer Profile -->
                      <md-content layout-padding>

                          <!-- firstname -->
                          <md-input-container class="md-block">
                              <label>First Name</label>
                              <input required name="CustomerFirstName" md-maxlength="15" maxlength="15" ng-model="customer.CustomerFirstName" ng-pattern="/^[a-zA-Z_\- ]+$/">
                              <div class="hint">Tell us what we should call you</div>
                              <div ng-messages="projectForm.$dirty && projectForm.CustomerFirstName.$error">
                                  <div ng-message="required">This is required</div>
                                  <div ng-message="pattern">Invalid input</div>
                              </div>
                          </md-input-container>

                          <!-- lastname -->
                          <md-input-container class="md-block">
                              <label>Last Name</label>
                              <input required name="CustomerLastName" md-maxlength="20" maxlength="20" ng-model="customer.CustomerLastName" ng-pattern="/^[a-zA-Z_\- ]+$/">
                              <div ng-messages="projectForm.$dirty && projectForm.CustomerLastName.$error">
                                  <div ng-message="required">This is required</div>
                                  <div ng-message="pattern">Invalid input</div>
                                  <div ng-message="maxlength">Too Long</div>
                              </div>
                          </md-input-container>

                          <!-- CustomerStreet -->
                          <md-input-container class="md-block">
                              <label>Street</label>
                              <input required id="route" ng-model=" customer.CustomerStreet">
                              <div class="hint">Tell us your street!</div>
                              <div ng-messages="projectForm.$dirty && projectForm.CustomerStreet.$error">
                                  <div ng-message="required">This is required</div>
                              </div>
                          </md-input-container>

                          <!-- CustomerLocality -->
                          <md-input-container class="md-block">
                              <label>Locality</label>
                              <input required id="locality" ng-model="customer.CustomerLocality" ng-pattern="/^[a-zA-Z_\- ]+$/">
                              <div class="hint">Tell us your locality</div>
                              <div ng-messages="projectForm.$dirty && projectForm.CustomerLocality.$error">
                                  <div ng-message="required">This is required</div>
                                  <div ng-message="pattern">Invalid input</div>
                              </div>
                          </md-input-container>

                          <!-- CustomerPostalCode -->
                          <md-input-container class="md-block">
                              <label>Postal Code</label>
                              <input required id="postal_code" ng-model="customer.CustomerPostalCode" md-maxlength="6" minlength="6" maxlength="6" ng-pattern="/^[0-9]{1,6}$/">
                              <div class="hint">Tell us your area code</div>
                              <div ng-messages="projectForm.$dirty && projectForm.CustomerPostalCode.$error">
                                  <div ng-message="required">This is required</div>
                                  <div ng-message="pattern">Invalid Postal Code</div>
                              </div>
                          </md-input-container>

                          <!-- CustomerCountry -->
                          <md-input-container class="md-block">
                              <label>Country</label>
                              <input required id="country" ng-model=" customer.CustomerCountry" ng-pattern="/^[a-zA-Z_\- ]+$/">
                              <div class="hint">Tell us your Country</div>
                              <div ng-messages="projectForm.$dirty && projectForm.CustomerCountry.$error">
                                  <div ng-message="required">This is required</div>
                                  <div ng-message="pattern">Invalid Country</div>
                              </div>
                          </md-input-container>

                          <!-- contactno -->
                          <md-input-container class="md-block">
                              <label>Contact Number</label>
                              <input required name="CustomerContact" ng-model="customer.CustomerContact" md-maxlength="10" minlength="10" maxlength="10" ng-pattern="/^[0-9]{10,10}$/">
                              <div class="hint">Tell us how we can contact you</div>
                              <div ng-messages="projectForm.$dirty && projectForm.CustomerContact.$error">
                                  <div ng-message="required">This is required</div>
                                  <div ng-message="md-minlength">Contact No must have 10 digits</div>
                              </div>
                          </md-input-container>

                          <md-input-container class="md-block">
                              <md-button ng-disabled="projectForm.$invalid" ng-hide="isCustomerCreated" ng-click="createCustomer(picFile)" class="md-raised md-primary" style=" color: #000000; background-color: #666666; border-color: #666666;" type="submit">Create</md-button>
                              <md-button ng-disabled="projectForm.$invalid" ng-show="isCustomerCreated" ng-click="updateCustomer(picFile)" class="md-raised md-primary" style=" color: #000000; background-color: #666666; border-color: #666666;" type="submit">Update</md-button>
                          </md-input-container>

                      </md-content>
                  </div>
              </div>

          </form>
    </div>

</div>

